{{- define "main" }}
{{- $isNewsletter := eq .Type "newsletter" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    {{- if $isNewsletter -}}
      {{- partial "newsletter_brand.html" . }}
    {{- end -}}
    <h1 class="post-title">
      {{- if $isNewsletter -}}
        {{- replace .Title (.Param "titlePrefix") (.Param "titlePrefixReplace") -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- if .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end -}}
    </h1>
    {{/* Description removed - kept for SEO meta tags only */}}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{/* TODO move to footer */}}
      {{/* partial "edit_post.html" . */}}
      {{/* partial "post_canonical.html" . */}}
    </div>
    {{- end }}
  </header>

  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}

  {{- if (.Param "ShowToc") }}
    {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
      {{- partial "anchored_headings.html" .Content -}}
    {{- else }}
      {{ .Content }}
    {{- end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (.Param "socialLinks") }}
      {{- partial "social_links.html" . }}
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
      {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{- if $isNewsletter }}
      <div class="newsletter-sub">
        <div class="notice">
          {{- if site.Params.newsletter.notice.usePartial }}
            {{- partial "newsletter_notice.html"}}
          {{- else }}
            {{- site.Params.newsletter.notice.content | default "Thanks for reading, if you like it, please subscribe below." }}
          {{- end }}
        </div>
        {{- partial "newsletter_sub_form.html"}}
      </div>
    {{- end }}

  {{- if not (.Param "noComments") }}
    <div class="comments-separator"></div>
    {{- partial "comments.html" . }}
  {{- end }}

  {{/* --- Related posts section for internal linking & SEO --- */}}
  {{- if eq .Type "posts" }}
    {{- $related := site.RegularPages }}
    {{- if .Params.tags }}
      {{- $related = where $related "Params.tags" "intersect" .Params.tags }}
    {{- end }}
    {{- $related = where $related "Permalink" "ne" .Permalink | first 3 }}

    {{- if gt (len $related) 0 }}
    <section class="post-related">
      <h2>Related posts</h2>
      <ul>
        {{- range $related }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          <span class="post-related-meta">
            {{ .Date.Format "2006-01-02" }} · {{ .ReadingTime }} min read
          </span>
        </li>
        {{- end }}
      </ul>
    </section>
    {{- end }}
  {{- end }}

</article>

{{- end }}{{/* end main */}}
