<div class="comments-box">
  <div class="giscus"></div>
</div>

<script src="https://giscus.app/client.js"
        data-repo="gytcrt/giscus-rm"
        data-repo-id="R_kgDOOlgU_g"
        data-category="General"
        data-category-id="DIC_kwDOOlgU_s4Cp1g8"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<style>
  .comments-box {
    margin-top: 2rem;
  }
</style> 